* {
  font-family: 'JetBrainsMono Nerd Fond Mono', monospace;
}

.time{
    color: #93e1d4;
        text-shadow:
          0 0 24px rgba(147, 225, 212, .7),
          0 0 54px rgba(147, 225, 212, .7),
          0 0 114px rgba(147, 225, 212, .7),
          5px 5px 1px black;
    font-size: 100px;
    letter-spacing: 3px;
    border-bottom: #93E1D4 2px solid;
    margin-bottom: 0;
    font-family: 'Exodar-Outline';
}

.background{
  background: transparent;
}

.NotificationArea {
  background: rgba(24, 24, 37, 0.6);
  padding: 20px;
  padding-bottom: 30px;
  // border: rgba(147, 225, 212, 0.3) 3px solid;
  border-radius: 8px;
}




.navButton {
  color: white;
  background: #1e1e2e;
  font-weight: bold;
  font-size: 26px;
  // padding: 10px;
  box-shadow: #b4befe 5px 5px;
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}

.navButton:hover {
  color: #74c7ec;
  border-radius: 10px;
  box-shadow: #74c7ec 6px 8px;
  font-size: 28px;
}

.r1B1 {
  color: pink;
  box-shadow: pink 6px 8px;
}

.r1B2 {
  color: yellow;
  box-shadow: yellow 6px 8px;
}
.r1B3 {
  color: lightgreen;
  box-shadow: lightgreen 6px 8px;
}

.r2B1 {
  color: lightblue;
  box-shadow: lightblue 6px 8px;
}

.r2B2 {
  color: white;
  box-shadow: white 6px 8px;
}
.r2B3 {
  color: rgb(203, 166, 247); 
  box-shadow: rgb(203, 166, 247) 6px 8px;
}
.navButton:active {
  color: orange;
  border-radius: 10px;
  box-shadow: orange 6px 8px;
  font-size: 28px;
}
.ButtonsContainer{
  margin: 0;
}


.notif{
  background: transparent;
  margin: 0;
  margin-top: 10px;
  outline: none;
  // box-shadow: rgb(137, 180, 250, 0.7) 6px 4px;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}

.notiflabel{
  font-weight: bold;
  font-size: 24px;
}
.Nonotiflabel{
  font-weight: bold;
  margin-top: 10px;
  font-style:italic;
  font-size: 16px;
}

.title{
  font-weight: bold;
  border-bottom: #94e2d5 2px dotted;
}

slider{
  color: white;
  border: none;
  opacity:0;
  background: transparent;
}


.brightCtl trough {
    background-color: rgb(30, 30, 46);
    border-radius: 1rem;
    min-height: 2.25rem;
}
.brightCtl trough highlight {
    background-color: #94e2d5;
    border-radius: 1rem;
    min-width: 2.25rem;
}
.brightBox {
  background-color: rgb(30, 30, 46);
  border: #94e2d5 2px solid;
  margin-top:16px;
  margin-bottom:10px;
  border-radius: 1rem;
}

.brigh-ic{
  margin-right: 6px;
  font-size: 24px;
}



.CalendarLabel{
  font-family: 'Exodar-Outline';
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
  letter-spacing: 0px;
  font-size: 50px;
  transition: all 0.3s ease-in-out;
}

.cal-ev:hover .CalendarLabel{
  color: #93E1D4;
  letter-spacing: 5px;
}


.calendar{
  background: rgba(24, 24, 37, 0.3);
  font-family: 'JetBrainsMono Nerd Fond Mono', monospace;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  // padding: 5px;
  outline: 0;
  border: none;
  color: white;
}

.calendar:selected{
  background: #585b70;
  color: #74c7ec;
}

.calendar .button{
  color: #94e2d5;
}

.passInput {
  background: rgb(30, 30, 46);
  margin-bottom:5px;
  border:none;
  outline:0;
  border-bottom:1px #94e2d5 solid;
  color: white;
  font-size: 24px;
}
.netButton{
  margin-bottom:5px;
  font-size: 15px;
}

.netButton:hover{
  margin-bottom:5px;
  font-size: 15px;
}

.menuTitle {
  background: rgb(30, 30, 46);
  border: #94e2d5 1px solid;
  border-radius: 0.25em 0.25em 0 0;
  font-weight: bold;
}

.default_label{
  background: rgb(30, 30, 46);
  font-weight: bold;
  border: #94e2d5 1px solid;
  border-radius: 0 0 0.25em 0.25em;
}


