.time{
    color: #93e1d4;
        text-shadow:
          0 0 24px rgba(147, 225, 212, .7),
          0 0 54px rgba(147, 225, 212, .7),
          0 0 114px rgba(147, 225, 212, .7),
          5px 5px 1px black;
    font-size: 100px;
    letter-spacing: 3px;
    border-bottom: #93E1D4 2px solid;
    margin-bottom: 0;
    font-family: 'Exodar-Outline';
}

.background{
  background: transparent;
}

.NotificationArea {
  background: #181825;
  padding: 20px;
  padding-bottom: 30px;
  border: #93e1d4 1px solid;
  border-radius: 8px;
}

.calendar{
  background: #0A0A10;
  color: white;
}

.calendar:selected{
  background: cyan;
  color: red;
}

